body{
    padding: 0px;
    margin: 0px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    user-select: none;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}